<html lang="en">

<head> <!--Base Points to localhost-->
    <meta charset="utf-8">
    <title>Lackluster 5e Wiki</title>
</head>

<body>
    <div>
        <h1>Hello Adventurers!</h1>
        <p>Welcome to the unofficial DnD 5e wiki for people who like planning 
            characters, but never actually use them. The goal of this wiki is to
            provide a effortless way to find and filter through the cool stuff
            like spell descriptions, classes, races, and feats. This is not a 
            complete wiki, nor will it ever be.
        </p>
        <br>
        <p>Lackluster 5e is unofficial Fan Content permitted 
            under the Fan Content Policy. Not approved/endorsed by Wizards. 
            Portions of the materials used are property of Wizards of the Coast. 
            ©Wizards of the Coast LLC.
        </p>
    </div>
    <div>
        <h2>Here are some links to bring you to the neat stuff!</h2>
        <a href="/spells">Spells page!</a> <br>
        <a href="/races">Races page!</a> <br>
        <a href="/feats">Feats page!</a> <br>
        <a href="/classes">Classes page!</a> <br>
    </div>
</body>

</html>