<% const levels = ["Cantrip", "1st","2nd", "3rd", "4th", "5th", "6th", "7th", "8th", "9th"]; %>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Spells By Level</title>

    <link rel="stylesheet" href="/css/placeholder.css">

    <!--Jquery for tablesorting-->
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/tablesorter/dist/js/jquery.tablesorter.min.js"></script>

    <!--Boostrap & Popper-->
    <script src="/static/@popperjs/core/dist/umd/popper-base.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">

    <script src="/components/simpleSorter.js"></script>
    <script src="/components/generateTable.js"></script>

    <script>
        let dataPath = "/spellData.json";
        function changeTable(){
            modifyTable(dataPath, "Level", document.getElementById("levels").value);
        }

        function activateTable() {
            $('.table').tablesorter();
        }

        document.addEventListener('DOMContentLoaded', function () {
            generateDynamicTable("/spellHeaders.json", dataPath, activateTable, "levels").then((response)=>{
                changeTable();
            });
        });
    </script>
</head>

<body>
    <div><%- include('../components/header.ejs') %></div>
    <div>Spells By Level <br>
        <label for="levels">Choose a level:</label>
        <select name="levels" id="levels" onchange="changeTable()">
            <% for (let i = 0; i < levels.length; i++) { %>
                <option value="<%=levels[i]%>"><%=levels[i]%></option>
            <% } %>
        </select>
    </div>
    <div id="table-container" style="overflow-y:auto; height: 750px;"></div>
</body>

</html>